header{
    background-color: #CCCCCC;
    height: 220px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;

    
}
.titulo-pagina{
    text-transform: uppercase;
    margin-right: 20px;
    margin-top: 13px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: rgb(75, 1, 1);
    position: absolute;
    top: 75px;
    
}
.cabecalho-inicial{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    position: absolute;
    top: 54px;
    left: 150px;
    
}
.caixa{
    position: relative;
    width: 940px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
nav{
    position: absolute;
    top: 92px;
    right: 0px;
}
nav li{
    display: inline;
    margin-right: 15px;
}
nav a{
    text-transform: uppercase;
    color: rgb(75, 1, 1);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}
.caixa-introdutoria{
    width: 940px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.titulo-principal{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(75, 1, 1);
    margin-bottom: 25px;
    padding-top: 20px;
}
.gif-robo{
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-right: 20px;
    position: relative;
    right: 30px;
}
.paragrafo-introdutorio{
    display: inline-block;
    text-align: start;
    position: absolute;
    margin-top: 35px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 24px;
    color: rgb(75, 1, 1);
}
.imagem-selecao{
    width: 280px;
    height: 200px;
    position: relative;
    right: 23px;
} 
.conteudo-principal{
    margin-top: 40px;
    
}
.conteudo-principal ul{
    width: 940px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0;
}
.conteudo-principal ul li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15px;
}
.conteudo-principal ul li:hover{
    border-color: #C78C19;
    
    
}
.conteudo-principal ul li:active{
    border-color: green;
}

.conteudo-principal ul li:hover a{
    font-size: 40px;
    color: #C78C19;
}
.conteudo-principal ul li:hover p{
    color: #C78C19;
}
.conteudo-principal h3{
    font-size: 30px;
    font-weight: bold;
    
}
.conteudo-principal a{
    text-decoration: none;
}
.conteudo-principal p{
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 0;
}
footer{
    text-align: center;
    background: url("imagens/bg.png");
    padding: 40px 0;
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
    
}