header{
    height: 200px;
    background: #CCCCCC;
    padding-top: 20px;
}

.titulo{
    text-transform: uppercase;
    margin: 13px 0 20px 0;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: rgb(75, 1, 1);
    position: absolute;
    top: 78px;

}
.logo{
    width: 100px;
    position: absolute;
    top: 60px;
    left: 130px;
}
.caixa{

    position: relative;
    width: 940px;
    margin: 0 auto;

}
nav{
    position: absolute;
    top: 93px;
    right: 0px;
}
nav li{
    display: inline;
    margin-right: 15px;
}
nav a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color:rgb(75, 1, 1);
}
nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}
.robs li{
    width: 940px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.div-img{
    width: 140px;
    display: inline-block;
    margin-right: 150px;
}
.img-karel{
    width: 180px;
    padding-top: 35px;
}
.img-shakey{
    width: 150px;
    padding-top: 35px;
}
.img-webots{
    width: 140px;
    padding-top: 35px;
}
.div-texto{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding-top: 5px;
    border: 3px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
    top: 50px;
}
.div-texto:hover{
    border-color: #C78C19;;
}
 .titulo-robs{
    font-size: 40px;
    font-weight: 700;
    color: rgb(75, 1, 1);
    padding-bottom: 13px;
    text-align: center;
    padding-top: 50px;
    padding-right: 250px;
    
}
.paragrafo{
    font-size: 17px;
    text-align: center;
    margin: 1px 1px 1pc;

}
footer{
    text-align: center;
    background: url("imagens/bg.png");
    padding: 40px 0;
   
}
.copyrightt{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}