body{
    background-color: #CCCCCC;
}
h1{
    color: rgb(115, 0, 255);
    text-align: center;
}
#roboOla{
    width: 70%;
  
    
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
p{
    text-align: center;
}
#missao{
    font-size: 20px;
}
#logica{
    text-align: left;
}
em strong{
    color: rgb(100, 6, 251);
}

